 <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Visitá nuestro Blog!</h3>
            <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" [routerLink]="['/blog']" >Leenos</a>
          </div>
        </div>
  
      </div>
    </section><!-- #call-to-action -->


  <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Servicios</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-desktop"></i></a></div>
              <h4 class="title"><a href="">PLAN DE MARKETING DIGITAL TURÍSTICO</a></h4>
              <p class="description">Analizamos tu negocio, productos, a tu buyer persona y a la competencia para generar
                una estrategia de marketing consistente en el tiempo, llegando a tu verdadero objetivo; midiendo cada
                acción para hacer rentable el negocio. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
              <h4 class="title"><a href="">CONTENIDOS DIGITALES</a></h4>
              <p class="description">El contenido que elaboramos es producido por nosotros exclusivamente para tu empresa
                con fotógrafos y filmakers profesionales. Hacemos branded content, videos, fotos, textos, emails, ebooks,
                infografía, blogs, y mucho más que vas a sorprenderte. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
              <h4 class="title"><a href="">REDES SOCIALES</a></h4>
              <p class="description">Andrómeda ayudará a tu marca a identificar a tus posibles clientes, qué están
                buscando y qué están necesitando. De forma auténtica generaremos conversaciones eficaces para que el
                consumidor elija tu empresa por sobre la competencia con contenido seleccionado y de calidad.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-photo"></i></a></div>
              <h4 class="title"><a href="">ANÁLISIS DE RESULTADOS</a></h4>
              <p class="description">El análisis de resultados en una de las partes más importantes del
                marketing por dos razones. Por un lado lograrás saber si la inversión que realmente estás haciendo tiene
                retorno y es
                rentable. Por el otro, sabrás si se están cumpliendo los objetivos planteados en un comienzo para
                continuar por ese mismo camino o redireccionar y modificar las estrategias para lograr los objetivos.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-road"></i></a></div>
              <h4 class="title"><a href="">REPUTACION ON LINE</a></h4>
              <p class="description">Contamos con claves para gestionar tu reputación, escuchar qué están diciendo de tu
                marca, controlar los que otros hablan y nos anticipamos de manera eficiente ante una eventual crisis
                antes de que esa “opinión” continúe siendo un inconveniente mayor para tu empresa.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href=""><i class="fa fa-shopping-bag"></i></a></div>
              <h4 class="title"><a href="">DESARROLLO WEB</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                soluta nobis est eligendi</p>
            </div>
          </div>
        </div>
  
        <div class="icon-box text-center wow fadeInUp" data-wow-delay="0.8s">
          <a href="" class="btn-more-info">Más Servicios</a>
        </div>
  
      </div>
    </section><!-- #services -->