<section id="menu">
  <div class="container wow fadeIn">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h2 class="cta-title">Nuestros Trabajos</h2>
      </div>

    </div>
  </div>
</section>

<div class="card-columns m-5">
  <div *ngFor="let post of posts | async" class="card animated fadeInDown">
    <div [routerLink]="['/post', post.id]">
      <img class="card-img-top animated fadeIn" [src]="post.foto" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ post.titulo }}</h5>
        <p class="card-text">{{ post.resumen }}</p>
        <p class="card-text text-right"><small class="text-muted">{{ post.fecha | date:'longDate' }}</small></p>
      </div>
      <blockquote class="blockquote">
        <footer class="blockquote-footer">
          <small class="text-muted">
            Escrito por <cite title="Source Title">{{ post.autor }}</cite>
          </small>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
