<div id="post" class="container">
  <div class="card animated fadeIn" *ngIf="post">
    <div class="post-header-container">
      <img class="card-img" [src]="post.foto" alt="foto del post">
      <div class="card-img-overlay text-white">
        <h2>{{ post.titulo }}</h2>
      </div>
    </div>

      <div class="card-footer">
        <div class="row">
              <footer class="col blockquote-footer">
                      <span class="text-muted">
                        Escrito por <cite [title]="post.titulo" class="text-andromeda">{{ post.autor }}</cite>
                      </span>
                    </footer>
                    <div class="col card-text text-right">
                      <span class="text-muted">{{ post.fecha | date: 'longDate' }}</span>
                    </div>
        </div>
      </div>

      <div class="container card-body" [ngxSummernoteView]="post.contenido"></div>
      <hr>
      <div class="container">
        <div class="row text-center btn-volver mb-3">
          <span>Compartir</span>
          </div>
          <div class="row btn-volver">
              <share-buttons
              [include]="['facebook','whatsapp','email','copy']"
              [show]="5"
              [title]="post.titulo"
              [description]="post.resumen"
              [image]="post.foto"
              [autoSetMeta]="false"></share-buttons>
          </div>
      </div>
      <hr>
      <div class="btn-volver">
        <button type="button" (click)="goBack()" class="btn btn-more-info">Volver</button>
      </div>
    </div>
</div>
