<!--==========================
  Header
  ============================-->
<header id="header" [ngClass]="{'header-other': getRoute()}">
  <div class="container">

    <div id="logo" class="pull-left">
      <a [routerLink]="['/home']">
        <img src="assets/img/logo/andromedaLogo.png" alt="andromedaLogo" title="andromedaLogo" style="height: 70px; margin-top: -15px;" />
      </a>
      <!-- <div class="iso-header animated" [ngClass]="{'fadeIn': showIsologo, 'fadeOut': !showIsologo}"  > -->
      <div class="iso-header" *ngIf="showIsologo"   >
        <img class="iso img-iso" src="../../../assets/img/iSOAndromeda-blanco-recortado.png" alt="andromeda">
      </div>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <!-- <li class="menu-active"><a href="#home">Home</a></li> -->
        <li><a (click)="goTo('inbound')" href="#inbound">Inbound</a></li>
        <li><a (click)="goTo('neuroturism')" href="#neuroturism">Neuroturismo</a></li>
        <li class="menu-has-children"><a (click)="goTo('services')" href="#services">Servicios</a>
          <ul>
            <li><a href="#">Plan de marketing</a></li>
            <li><a href="#">Contenidos digitales</a></li>
            <li><a href="#">Redes sociales</a></li>
            <li><a href="#">Análisis de resultados</a></li>
            <li><a href="#">Reputación online</a></li>
            <li><a href="#">Desarrollo web</a></li>
            <li><a href="#">Más servicios...</a></li>
          </ul>
        </li>
        <li><a (click)="goTo('team')" href="#team">Nosotros</a></li>
        <li><a href="#blog">Blog</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
