<!--==========================
    Social bar
  ============================-->
  <!-- <div class="icon-bar"> -->
  <div class="icon-bar" [ngClass]="{'hide': showSocialBar, 'show': !showSocialBar}">
    <a href="https://www.instagram.com/andromeda_agencia" target="_blank"
    data-toggle="tooltip" data-placement="left" title="Instagram"
    class="instagram">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="https://www.facebook.com/Andr%C3%B3meda-Agencia-2150165898554773/" data-toggle="tooltip" data-placement="left" title="Facebook" class="facebook"><i class="fa fa-facebook"></i></a> 
    <a href="#contact" data-toggle="tooltip" data-placement="left" title="Contacto" class="contacto">
      <i class="fa fa-mail-forward"></i>
    </a>  
    <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
  </div>
<!--==========================
    Hero Section
  ============================-->
<section id="hero">

  <div class="hero-container">
    <!-- <video muted="" autoplay="" loop="" preload="auto" id="video">
      <source src="https://firebasestorage.googleapis.com/v0/b/andromeda-landing.appspot.com/o/inturea_agencia_inbound_marketing_turistico_video_cabecera.mp4?alt=media&token=675d47ac-d1a6-4f1a-97f1-0ccfdc001867"
        type="video/mp4">
    </video> -->

    <h2>Porque creemos que las personas tenemos esa capacidad innata de emocionarnos <br>
      buscamos humanizar el marketing turístico</h2>
    <a href="#services" class="btn-get-started">Nuestros Servicios</a>
  </div>
</section><!-- #hero -->

<main id="main">

  <!--==========================
      Inbound Section
    ============================-->
  <section id="inbound" #inbound name="inbound">
    <div class="container">
      <div class="row inbound-container">
        <div class="col-lg-6 content order-lg-1 order-1">
          <h2 class="title">Qué es INBOUND MARKETING?</h2>
          <p>
            El Inbound es una metodología no invasiva de marketing que se centra en crear contenido relevante aportando
            un valor añadido a los clientes actuales y potenciales con el principal objetivo de conseguir que sean
            ellos los que te encuentren y den la iniciativa.
          </p>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <a data-toggle="modal" data-target="#responsive-modal-inbound" class="btn-more-info">Querés saber más</a>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-2 wow fadeInRight"></div>
      </div>

    </div>
  </section><!-- #inbound -->

  <!--==========================
      Neuroturism Section
    ============================-->
  <section id="neuroturism" #neuroturism name="neuroturism">
    <div class="container">
      <div class="row neuroturism-container">

        <div class="col-lg-6 background order-lg-1 order-2 wow fadeInLeft"></div>

        <div class="col-lg-6 content order-lg-2 order-1">
          <h2 class="title">Neuroturismo?...</h2>
          <p>
            El neuroturismo surge como una especialidad dentro del neuromarketing, que es el estudio que tiene entre
            sus objetivos conocer cómo funciona el cerebro de un turista/consumidor y cuáles son los estímulos y
            necesidades que lo motivan para reconocer las reacciones emocionales que se generan al obtener un producto
            o realizar un servicio.
          </p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fa fa-heartbeat"></i></div>
            <h4 class="title"><a href="">¿Qué siente tu público?</a></h4>
            <p class="description">Estudiamos y analizamos al turista/consumidor de tu marca entendiendo cuáles son los
              estímulos y necesidades que lo motivan emocionalmente a elegirla.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="">¿Por qué es importante?</a></h4>
            <p class="description">Con este conocimiento es que generamos y aplicamos estrategias de branding para que
              tu marca se posicione eficazmente en las redes sociales. </p>
          </div>

        </div>

      </div>

    </div>
  </section><!-- #neuroturism -->

  <!--==========================
    Call To Action Section
    ============================-->
  <section id="call-to-action">
    <div class="container wow fadeIn">
      <div class="row">
        <!-- <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Visitá nuestro Blog!</h3>
          <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#blog">Leenos</a>
        </div> -->
        <div class="col">
          <div class="cta-btn-container text-center">
              <a class="cta-btn align-middle" href="#blog">Visitá nuestro Blog!</a>
            </div>
        </div>
      </div>

    </div>
  </section><!-- #call-to-action -->

  <!--==========================
      Services Section
    ============================-->
  <section id="services" #services name="services">
    <div class="container wow fadeIn">
      <div class="section-header">
        <h3 class="section-title">Servicios</h3>
        <p class="section-description"></p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="box" data-toggle="modal" data-target="#responsive-modal-serv-plan-marketing">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/1.PlandeMktDigital.svg" alt=""></div>
            <h4 class="title"><a href="">PLAN DE MARKETING DIGITAL TURÍSTICO</a></h4>
            <p class="description">Analizamos tu negocio, productos, a tu buyer persona y a la competencia para generar una estrategia de marketing.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="box"  data-toggle="modal" data-target="#responsive-modal-serv-contenidos-digitales">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/2.ContenidosDigitales.svg" alt=""></div>
            <h4 class="title"><a href="">CONTENIDOS DIGITALES</a></h4>
            <p class="description">El contenido que elaboramos es producido por nosotros exclusivamente para tu empresa con fotógrafos y filmakers profesionales.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="box"  data-toggle="modal" data-target="#responsive-modal-serv-redes-sociales">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/3.redesSociales.svg" alt=""></div>
            <h4 class="title"><a href="">REDES SOCIALES</a></h4>
            <p class="description">Te ayudamos a mantener actualizadas tus redes para que los consumidores te elijan, por la calidad del contenido de calidad.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="box"  data-toggle="modal" data-target="#responsive-modal-serv-analisis-resultados">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/4.AnalisisdeResultados.svg" alt=""></div>
            <h4 class="title"><a href="">ANÁLISIS DE RESULTADOS Y REPUTACIÓN ONLINE</a></h4>
            <p class="description">Nosotras analizamos los resultados de la estrategia  contamos con claves para gestionar tu reputación, escuchar qué están diciendo de tu marca.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="box"  data-toggle="modal" data-target="#responsive-modal-serv-reputacion">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/5.RepOnLine.svg" alt=""></div>
            <h4 class="title"><a>BRANDING</a></h4>
            <p class="description">La Marca es lo que define a tu empresa. Es el nombre propio de tu corporación y todo
              lo que genera en los clientes con solo nombrarlo.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="box"  data-toggle="modal" data-target="#responsive-modal-serv-desarrollo-web">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/6.DesWeb.svg" alt=""></div>
            <h4 class="title"><a>DESARROLLO WEB</a></h4>
            <p class="description">Además, te ofrecemos un sistema para gestionar tu web con total libertad!</p>
          </div>
        </div>
      </div>

      <!-- <div class="icon-box text-center wow fadeInUp" data-wow-delay="0.8s">
        <a href="" class="btn-more-info">Más Servicios</a>
      </div> -->

    </div>
  </section><!-- #services -->

  <!--==========================
      Facts Section
    ============================-->
  <section id="facts">
    <div class="container wow fadeIn">
      <div class="section-header">
        <h3 class="section-title">Nuestros Clientes</h3>
        <p class="section-description"> Estas son algunas empresas que confiaron en nosotras.</p>
      </div>
      <div class="row align-items-center counters">
        
          <div class="col align-items-center text-center">
            <img class="cli-img" src="../../../assets/img/clientes/cLIENTESaLPA.png" alt="alpasion">
          </div>
          <div class="col align-items-center text-center">
            <img class="cli-img" src="../../../assets/img/clientes/cLIENTESvINEA.png" alt="vineaviajes">
          </div>
          <div class="col align-items-center text-center">
            <img class="cli-img" src="../../../assets/img/clientes/cLIENTESCIAT.png" alt="ciat">
        </div>
      </div>

    </div>
  </section><!-- #facts -->

  <!--==========================
      Team Section
    ============================-->
  <section id="team" #team name="team">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title" style="cursor: pointer;" data-toggle="modal" data-target="#responsive-modal-nosotros">Nosotros</h3>
        <p class="section-description">Te presentamos nuestro equipo.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic">
              <img src="../../../assets/img/nosotros/Nadia.jpg" alt="">
              <div class="cover">
                <p>
                  Viajera, Creativa, exploradora y curiosa. Documentalista de viajes, coleccionista de experiencias. Montañista, buceadora y fotógrafa aficionada.
                </p>
              </div>
            </div>
            <h4>Nadia Adrover</h4>
            <span>Licenciada en Turismo</span>
            <div class="social">
              <a href="https://www.instagram.com/nadiaadrover/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.facebook.com/nadia.adrover" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6"> 
          <div class="member">
              <div class="pic2">
                <img src="../../../assets/img/nosotros/Belen.jpg" alt="">
                <div class="cover2">
                  <p>
                    Rebelde con causa, desafiante, amante de la fotografía y la imagen. La música y el color, mi motor. Mamá de Gino, mi mejor creación.
                  </p>
                </div>
              </div>
            <h4>Belen Espin</h4>
            <span>Fotógrafa y Diseñadora</span>
            <div class="social">
                <a href="https://www.instagram.com/belenespin.y/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/belu.espinyanez" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic">
              <img src="../../../assets/img/nosotros/Laura.jpg" alt="">
              <div class="cover">
                <p>
                  Inquieta, siempre buscando nuevos desafíos y motivaciones. Amante del deporte, redes sociales, los libros y la escritura. Enamorada de mis hijos.
                </p>
              </div>
            </div>
            <h4>Laura Saieg</h4>
            <span>Lic. en Comunicación Social</span>
            <div class="social">
                <a href="https://www.instagram.com/laura_saieg/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/laurasaieg" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic">
              <img src="../../../assets/img/nosotros/JuanPablo.jpg" alt="">
              <div class="cover">
                <p>
                  Aventurero y Viajero. Crea contenidos en cualquier terreno, hasta los más extremos, Le encanta volar y pilotear drones.
                </p>
              </div>
            </div>
            <h4>Juan Pablo Egea</h4>
            <span>Filmmaker y storyteller</span>
            <div class="social">
                <a href="" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic">
              <img src="../../../assets/img/nosotros/Fede.jpg" alt="">
              <div class="cover">
                <p>
                  Emprendedor fanático de la tecnología y la innovación. Apasionado del desarrollo y la resolución de problemas.
                </p>
              </div>
            </div>
            <h4>Federico Rodriguez</h4>
            <span>Ingeniero en Sistemas</span>
            <div class="social">
                <a href="https://www.facebook.com/fsrodriguez" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="member">
            <div class="pic">
              <img src="../../../assets/img/nosotros/Diego.jpg" alt="">
              <div class="cover">
                <p>
                    Curioso por la tecnología. Apasionado por los videojuegos y el deporte. Le encantan los desafíos (mientras más difícil, mejor).
                </p>
              </div>
            </div>
            <h4>Diego Villarruel</h4>
            <span>Ingeniero en Sistemas</span>
            <div class="social">
                <a href="https://www.facebook.com/diervi10" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- #team -->

  <!--==========================
      Contact Section
    ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Contacto</h3>
        <!-- <p class="section-description">Escribinos, dale dale dale!!!!</p> -->
      </div>
    </div>

    <div class="container wow fadeInUp">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Mendoza, Argentina</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p><a class="contact-info" href="mailto:info@andromedaagencia.com"> info@andromedaagencia.com </a></p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p> <a class="contact-info" href="tel:+5492612655862">+54 9 (261) 2655862</a> </p>
            </div>
            <div>
              <i class="fa fa-whatsapp"></i>
              <p> <a class="contact-info" href="https://api.whatsapp.com/send?phone=5492612655862">+54 9 (261) 2655862</a> </p>
            </div>
            <div>
                <i class="fa fa-facebook"></i>
                <p> <a href="https://www.facebook.com/Andr%C3%B3meda-Agencia-2150165898554773/" class="facebook"> /andromeda-agencia</a> </p>
            </div>
            <div>
                <i class="fa fa-instagram"></i>
                <p> <a href="https://www.instagram.com/andromeda_agencia" target="_blank" class="instagram"> /andromeda_agencia</a> </p>
            </div>
          </div>

          <div class="social-links">
            <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>  -->
            <!-- <a href="https://www.facebook.com/Andr%C3%B3meda-Agencia-2150165898554773/" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/andromeda_agencia" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a> -->
            <!-- <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a> -->
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <form action="https://formspree.io/info@andromedaagencia.com" method="POST" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="nombre" class="form-control" id="name" placeholder="Tu Nombre" required minlength="4"/>
              </div>
              <div class="form-group">
                <input type="text" name="empresa" class="form-control" id="company" placeholder="Tu Empresa" required minlength="4" />
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="_replyto" id="email" placeholder="Tu Email" required />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="asunto" id="subject" placeholder="Asunto" />
              </div>
              <div class="form-group">
                <textarea class="form-control" name="mensaje" rows="5" required placeholder="Envianos tu consulta..."></textarea>
              </div>
              <input type="hidden" name="_language" value="es" />

              <div class="text-center">
                  <input class="btn btn-outline-primary" type="submit" value="Enviar">
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #contact -->

</main>

<!-- ------------------------------
  Modales
 -------------------------------- -->

<div id="responsive-modal-inbound" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Inbound Marketing</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
              <p>Para Andrómeda el Inbound Marketing más que un concepto es nuestra filosofía de trabajo. </p>
              <p>El Inbound es una metodología no invasiva de marketing que se centra en crear contenido relevante aportando un valor añadido a los clientes actuales y potenciales con el principal objetivo de conseguir que sean ellos los que nos encuentren y den la iniciativa.</p>
              <p>Las principales acciones que se abarcan son: posicionamiento SEO, marketing de contenido, difusión en redes sociales y estudio de los datos de tu página web.</p>
              <p>Las estrategias Inbound te ayudaran a mejorar tu visibilidad y reputación online, transformando a los usuarios en leads interesados, luego en clientes y finalmente en fieles embajadores de tu marca. En esta captación es imprescindible contar con una herramienta de automatización para trabajar con técnicas de marketing no intrusivas, conociendo a tu buyer persona, brindándoles el valor y contenido que ellos están buscando.</p>
              <p>El Inbound Marketing se puede resumir en cuatro palabras: crear, optimizar, dinamizar y convertir.</p>
              <p><b>En Conclusión</b></p>
              <p>El Inbound Marketing busca atraer clientes desconocidos para que visiten tu web, generando tráfico, luego convertirlos en suscriptores o leads, para que después de una estrategia de marketing turística de contenido de calidad y difusión en redes sociales puedas convertirlos en fieles seguidores que te elijan y te recomienden. Y para hacer todo eso estamos nosotras. No es genial??!!!</p>
          </div>
          <div class="modal-footer">
              
          </div>
      </div>
  </div>
</div>

<div id="responsive-modal-serv-plan-marketing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Plan de Marketing Digital Turístico</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            <p style="text-transform: uppercase;"><b>Situación Actual</b></p>
            <p>Definimos tu negocio, tu nicho, marca y producto o servicio. Somos inalcanzablemente y densas perfeccionistas y detallistas, por ello es que nos gusta saber todo, lo que hiciste antes, lo que lograste, lo que te encantó y decepcionó.</p>
            <p style="text-transform: uppercase;"><b>Analizamos la Competencia</b></p>
            <p>Estudiamos con profundidad el mercado para luego planificar la estrategia correcta para tu marca.</p>
            <p style="text-transform: uppercase;"><b>Estudiamos a tu Buyer Persona</b></p>
            <p>Sabías que tu público objetivo no está segmentado por edad y nacionalidad, sino que va más allá. Tu Buyer Persona es aquel que identificamos por medio de intereses, objetivos, retos y necesidades. Es así que llegamos a ellos brindándoles lo que realmente necesitan y no lo que tú quieres vender de forma invasiva. Le decimos chau al viejo marketing y publicidad. </p>
            <p style="text-transform: uppercase;"><b>Generamos Estrategias y Objetivos</b></p>
            <p>Creamos una propuesto única de venta a corto, mediano y largo plazo (smart goals).</p>
            <p style="text-transform: uppercase;">Qué son Objetivos Smart Goals ¿?</p>
            <ul>
              <li>Specif (Específicos)</li>
              <li>Measurable (Medible)</li>
              <li>Attainable (Alcanzable)</li>
              <li>Realistic (Realista)</li>
              <li>Time-Bound (En un Tiempo Limitado)</li>
            </ul>
            <p style="text-transform: uppercase;"><b>Analizamos los Resultados</b></p>
            <p></p>
          </div>
          <div class="modal-footer">
              
          </div>
      </div>
  </div>
</div>

<div id="responsive-modal-serv-contenidos-digitales" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Contenidos Digitales</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            <p>Diseñamos y generamos contenidos reales para tu marca. No nos gustan las imágenes compradas, por eso el contenido es producido por nosotros exclusivamente para tu empresa, permitiendo la conexión con tus clientes, en primera persona sin que medie una campaña estrictamente publicitaria.</p>
            <p>Qué hacemos: Branded content, videos, fotos, textos, emails, ebooks, infografía, blogs, y mucho más que vas a sorprenderte.</p>
            <p>Cómo lo hacemos: creamos fotos únicas de tus espacios con fotógrafos profesionales, videos cortos e impactantes, infografías para resumir de forma eficaz el contenido que necesitas contar, mails que aumentan, fidelizan o captan nuevos clientes. Todo esto, no solo para una red social, sino para todas aquellas en donde tu cliente este, con formatos fácilmente legibles, descargables y visibles.</p>
            <p  style="text-transform: uppercase;">Ventajas de Branded content</p>
            <p>Tenes el control sobre tu producto o servicios, vos creas tu propio guion, y decidís qué valores, formas de hacer y trabajar, además de emocionar y apelar a los sentimientos de tus clientes, el enfoque es directo y da credibilidad, por su esencia no intrusiva, se percibe como algo más natural, no artificial e inalcanzable. Es para empresas con imaginación y ganas de conectar con su buyer persona. Es una manera que la marca genera sinergia que va más allá de la simple generación de productos o servicios, apuestan por crear una imagen que transmita lo más humano de la marca.</p>
          </div>
          <div class="modal-footer">
              
          </div>
      </div>
  </div>
</div>

<div id="responsive-modal-serv-redes-sociales" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Redes Sociales</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            <p>Estar y publicar información en las redes sociales es fácil. Ser único, diferente y que tu contenido sea el que la persona quiera compartir, vivir y contactarse con vos es lo difícil.</p>
            <p>Por eso es que nos gusta contar la experiencia que una persona puede vivir con tu empresa, con la pasión con la que vos la creaste.</p>
            <p>Para ello nuestra “social manager” investiga, vive y conoce tu marca, así como a la competencia. </p>
            <p>Una vez que definimos los objetivos específicos de tu marca, e identificamos a la buyer persona, nos vamos a las redes sociales y es momento de publicar los contenidos, pero no cualquiera.</p>
            <p>A la hora de generar el contenido creamos una agenda de publicaciones para distribuirlo por secciones o categorías y formatos (videos, fotos, textos, etc.). </p>
            <p>Con este proceso, generamos conversaciones, leads a tu página web, base de datos de futuros clientes, y ¡ventas!</p>
            <p>Por ello es que consideramos fundamental la inversión en social media como herramienta de comercialización. La segmentación que allí se puede hacer es superponte lo que nos permite realizar campañas con un presupuesto bajo y un alcance increíble que puede medirse de manera efectiva. </p>
          </div>
          <div class="modal-footer">
              
          </div>
      </div>
  </div>
</div>

<div id="responsive-modal-serv-analisis-resultados" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Análisis de Resultados y Reputación Online</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
              <p style="text-transform: uppercase;"><b>Análisis de Resultados</b></p>
            <p>El análisis de resultados en una de las partes más importantes del marketing por dos razones. Por un lado lograrás saber si la inversión que realmente estás haciendo tiene retorno y es rentable. Por el otro, sabrás si se están cumpliendo los objetivos planteados en un comienzo para continuar por ese mismo camino o redireccionar y modificar las estrategias para lograr los objetivos.</p>
            <p style="text-transform: uppercase;"><b>Reputación Online</b></p>
            <p>El sector del turismo es muy sensible, por ello la reputación on line en el rubro es fundamental, no es una opción sino una necesidad para desarrollar con éxito tu marca en el ámbito digital. </p>
            <p>Cualquier persona puede opinar sobre tu negocio, desde su smartphone, poniendo una reseña en Google, tus redes sociales o páginas de turismo como TripAdvisor, Booking, o cualquier otro espacio pudiendo perjudicar tu reputación on line.</p>
            <p>Nosotras contamos con claves para gestionar tu reputación, escuchar qué están diciendo de tu marca, controlar los que otros hablan y nos anticipamos de manera eficiente ante una eventual crisis antes de que esa “opinión” continúe siendo un inconveniente mayor para tu empresa.</p>
            <p>Con este objetivo es que nos involucramos, charlamos, respondemos y cuidamos tu marca en el maravilloso y enorme mundo de Internet.</p>
          </div>
          <div class="modal-footer">
              
          </div>
      </div>
  </div>
</div>

<div id="responsive-modal-serv-reputacion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Branding</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
             <p>Branding no es solo la creación de una marca (texto + imagen). Ella no existe por si
              sola. Para su creación no se puede conocer las partes, sin conocer el todo y tampoco
              conocer el todo sin conocer las partes. Es necesario conocer tu público, sus
              costumbres, sus ideas y sus necesidades particularmente y qué es lo que esperan de tu
              empresa para que vos se lo des.</p>
             <p>En Andrómeda trabajamos para conocer tu empresa (investigando), creando el
              concepto de Marca (investigando), dándole un nombre (investigando, creando),
              registrandoló, Diseñando (creando) y por ultimo trazando la logística para lanzarla al
              Mercado de manera exitosa.</p>
             <p>EL pulso, la voz, la fortaleza y el rostro de tu Marca sustentan la vida de tu empresa.
              Nosotras nos encargamos de eso!</p>              
          </div>
          <div class="modal-footer">
              
          </div>
      </div>
  </div>
</div>

<div id="responsive-modal-serv-desarrollo-web" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Desarrollo Web</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            <p style="text-transform: uppercase;"><b>Reuniones de análisis y definición de diseño y contenidos</b></p>
              <p>Se realizarán reuniones con el cliente para establecer las funcionalidades,complejidades, requisitos y alcances.</p>
              <p style="text-transform: uppercase;"><b>Diseño de la estructura del sitio web</b></p>
              <p>Se realizará la recopilación y relevamiento de piezas actuales de comunicación, especificación de contenidos y forma de presentación. <br> Determinación de la estructura mediante mapa del sitio, usabilidad, diagramación y programación.</p>
              <p style="text-transform: uppercase;"><b>Diseño gráfico del contenido del sitio</b></p>
              <p>Determinación de los condicionantes para el correcto cumplimiento del mensaje, maquetado, desarrollo de conceptos. Propuesta gráfica–creativa.<br>
                  Se desarrollará más en profundidad la propuesta elegida por el cliente, entrando en el detalle de pantallas específicas en un proceso iterativo e incremental. A lo largo del proceso, el cliente deberá aprobar completamente el look and feel del landing y del módulo/s a tratar en dicha iteración.</p>
              <p style="text-transform: uppercase;"><b>Investigación de palabras clave y optimización de SEO</b></p>
              <p>Búsqueda de las palabras claves más relevantes para la empresa, para aumentar la visibilidad, relevancia y prioridad del sitio en los buscadores.</p>
              <p style="text-transform: uppercase;"><b>Programación</b></p>
              <p>Construcción y programación de interfaces con desarrollo responsive. <br> Además, se agregarán mapas de calor y herramientas analíticas para mejorar la usabilidad y conversión del sitio.</p>
              <p style="text-transform: uppercase;"><b>Implementación</b></p>
              <p>Configuración de servidor, contratación y configuración de dominios.</p>
          </div>
          <div class="modal-footer">
          </div>
      </div>
    </div>
</div>

<div id="responsive-modal-nosotros" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Nosotros</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
            <p>Somos Andrómeda, amigas, emprendedoras y guerreras. Una galaxia de brillantes y nuevas ideas que siempre está en constante movimiento. </p>
            <p>Porque creemos que las personas tenemos esa capacidad innata de emocionarnos es que buscamos humanizar el marketing turístico mediante estrategias de neuroturismo e inbound marketing. </p>
            <p>Y… ¿esto cómo lo hacemos? Elaboramos contenidos enfocados a conquistar a tus clientes para que sean ellos los que te elijan a vos, transformándose en verdaderos embajadores de tu marca. Para ello contamos historias (storytelling), ¡algo que nos sale muy bien!, les damos experiencias consistentes, reales, auténticas y originales para atraerlos a tu marca.</p>
            <p>Estamos convencidas de que las plataformas sociales y el contenido de calidad real son una fuente inagotable de inspiración para llegar a las emociones de los viajeros, y ahí es donde queremos estar con tu marca.</p>
            <p>Somos conscientes que la planificación de un viaje y la decisión de elegir la habitación de un hotel, optar por una excursión, seleccionar un restaurante no se da en el momento en que el turista llega a la ciudad, sino mucho antes desde su computadora y sobre todo desde su celular. Así es que nosotros buscamos que en esos momentos, TÚ marca este ahí, con una estrategia y contenido que seduzca a esa persona a elegir TÚ marca por sobre la competencia. </p>

          </div>
          <div class="modal-footer">
              
          </div>
      </div>
  </div>
</div>