<!--==========================
    Hero Section
  ============================-->
<section id="hero">

  <div class="hero-container">
    <video muted="" autoplay="" loop="" preload="auto" id="video">
      <source src="https://firebasestorage.googleapis.com/v0/b/andromeda-landing.appspot.com/o/inturea_agencia_inbound_marketing_turistico_video_cabecera.mp4?alt=media&token=675d47ac-d1a6-4f1a-97f1-0ccfdc001867"
        type="video/mp4">
    </video>

    <h2>Una galaxia de brillantes y nuevas ideas, siempre estamos en constante movimiento</h2>
    <a pageScroll [pageScrollOffset]="70" [pageScrollEasing]="myEasing" [pageScrollDuration]="1500" href="#services" class="btn-get-started">Nuestros Servicios</a>
  </div>
</section><!-- #hero -->

<main id="main">

  <!--==========================
      Inbound Section
    ============================-->
  <section id="inbound">
    <div class="container">
      <div class="row inbound-container">
        <div class="col-lg-6 content order-lg-1 order-1">
          <h2 class="title">Qué es INBOUND MARKETING?</h2>
          <p>
            El Inbound es una metodología no invasiva de marketing que se centra en crear contenido relevante aportando
            un valor añadido a los clientes actuales y potenciales con el principal objetivo de conseguir que sean
            ellos los que te encuentren y den la iniciativa.
          </p>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <a href="#services" class="btn-more-info">Querés saber más</a>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-2 wow fadeInRight"></div>
      </div>

    </div>
  </section><!-- #inbound -->

  <!--==========================
      Neuroturism Section
    ============================-->
  <section id="neuroturism">
    <div class="container">
      <div class="row neuroturism-container">

        <div class="col-lg-6 background order-lg-1 order-2 wow fadeInLeft"></div>

        <div class="col-lg-6 content order-lg-2 order-1">
          <h2 class="title">Neuroturismo?...</h2>
          <p>
            El neuroturismo surge como una especialidad dentro del neuromarketing, que es el estudio que tiene entre
            sus objetivos conocer cómo funciona el cerebro de un turista/consumidor y cuáles son los estímulos y
            necesidades que lo motivan para reconocer las reacciones emocionales que se generan al obtener un producto
            o realizar un servicio.
          </p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fa fa-heartbeat"></i></div>
            <h4 class="title"><a href="">¿Qué siente tu público?</a></h4>
            <p class="description">Estudiamos y analizamos al turista/consumidor de tu marca entendiendo cuáles son los
              estímulos y necesidades que lo motivan emocionalmente a elegirla.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="">¿Por qué es importante?</a></h4>
            <p class="description">Con este conocimiento es que generamos y aplicamos estrategias de branding para que
              tu marca se posicione eficazmente en las redes sociales. </p>
          </div>

        </div>

      </div>

    </div>
  </section><!-- #neuroturism -->

  <!--==========================
    Call To Action Section
    ============================-->
  <section id="call-to-action">
    <div class="container wow fadeIn">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Visitá nuestro Blog!</h3>
          <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" [routerLink]="['/blog']" >Leenos</a>
        </div>
      </div>

    </div>
  </section><!-- #call-to-action -->

  <!--==========================
      Services Section
    ============================-->
  <section id="services">
    <div class="container wow fadeIn">
      <div class="section-header">
        <h3 class="section-title">Servicios</h3>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
          doloremque</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="box">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/1.PlandeMktDigital.svg" alt=""></div>
            <h4 class="title"><a href="">PLAN DE MARKETING DIGITAL TURÍSTICO</a></h4>
            <p class="description">Analizamos tu negocio, productos, a tu buyer persona y a la competencia para generar
              una estrategia de marketing consistente en el tiempo, llegando a tu verdadero objetivo; midiendo cada
              acción para hacer rentable el negocio. </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="box">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/2.ContenidosDigitales.svg" alt=""></div>
            <h4 class="title"><a href="">CONTENIDOS DIGITALES</a></h4>
            <p class="description">El contenido que elaboramos es producido por nosotros exclusivamente para tu empresa
              con fotógrafos y filmakers profesionales. Hacemos branded content, videos, fotos, textos, emails, ebooks,
              infografía, blogs, y mucho más que vas a sorprenderte. </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="box">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/3.redesSociales.svg" alt=""></div>
            <h4 class="title"><a href="">REDES SOCIALES</a></h4>
            <p class="description">Andrómeda ayudará a tu marca a identificar a tus posibles clientes, qué están
              buscando y qué están necesitando. De forma auténtica generaremos conversaciones eficaces para que el
              consumidor elija tu empresa por sobre la competencia con contenido seleccionado y de calidad.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="box">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/4.AnalisisdeResultados.svg" alt=""></div>
            <h4 class="title"><a href="">ANÁLISIS DE RESULTADOS</a></h4>
            <p class="description">El análisis de resultados en una de las partes más importantes del
              marketing por dos razones. Por un lado lograrás saber si la inversión que realmente estás haciendo tiene
              retorno y es
              rentable. Por el otro, sabrás si se están cumpliendo los objetivos planteados en un comienzo para
              continuar por ese mismo camino o redireccionar y modificar las estrategias para lograr los objetivos.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="box">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/5.RepOnLine.svg" alt=""></div>
            <h4 class="title"><a href="">REPUTACION ON LINE</a></h4>
            <p class="description">Contamos con claves para gestionar tu reputación, escuchar qué están diciendo de tu
              marca, controlar los que otros hablan y nos anticipamos de manera eficiente ante una eventual crisis
              antes de que esa “opinión” continúe siendo un inconveniente mayor para tu empresa.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="box">
            <div class="icon icon-service"><img src="../../../assets/img/servicios/6.DesWeb.svg" alt=""></div>
            <h4 class="title"><a href="">DESARROLLO WEB</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
              soluta nobis est eligendi</p>
          </div>
        </div>
      </div>

      <div class="icon-box text-center wow fadeInUp" data-wow-delay="0.8s">
        <a href="" class="btn-more-info">Más Servicios</a>
      </div>

    </div>
  </section><!-- #services -->

  <!--==========================
      Facts Section
    ============================-->
  <section id="facts">
    <div class="container wow fadeIn">
      <div class="section-header">
        <h3 class="section-title">Nuestros Clientes</h3>
        <p class="section-description"> Estas son algunas empresas que confiaron en nosotras.</p>
      </div>
      <div class="row counters">

      </div>

    </div>
  </section><!-- #facts -->

  <!--==========================
      Team Section
    ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Nosotros</h3>
        <p class="section-description">Te presentamos nuestro equipo.</p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="../../../assets/img/team-1.jpg" alt=""></div>
            <h4>Nadia Adrover</h4>
            <span>La jefa turistica</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="../../../assets/img/team-4.jpg" alt=""></div>
            <h4>Belen Espin</h4>
            <span>La jefa de las fotos</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="../../../assets/img/team-2.jpg" alt=""></div>
            <h4>Laura Saieg</h4>
            <span>La jefa que escribe</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="../../../assets/img/team-3.jpg" alt=""></div>
            <h4>Fede y ElQueSeFue</h4>
            <span>Los lacayos</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- #team -->

  <!--==========================
      Contact Section
    ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Contacto</h3>
        <p class="section-description">Escribinos, dale dale dale!!!!</p>
      </div>
    </div>

    <div class="container wow fadeInUp">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>A108 Adam Street<br>New York, NY 535022</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>info@andromedaagencia.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+1 5589 55488 55s</p>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu Empresa" data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Tu Email" data-rule="email"
                  data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4"
                  data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Envianos tu consulta..."
                  placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #contact -->

</main>
