<!--==========================
    Footer
  ============================-->
  <footer id="footer">
      <div class="footer-top">
        <div class="container">
  
        </div>
      </div>
  
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>Andromeda</strong>. All Rights Reserved
        </div>
        <div class="credits">
          Web development by <a href="https://www.code-once.com/">Code Once</a>
        </div>
      </div>
    </footer><!-- #footer -->